<!DOCTYPE html>
<html>
<head>
  <title>Open_ToDo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav bav-tabs">
      <li><%= link_to "Open_ToDo", welcome_index_path %></li>
    </ul>

<%= yield %>
</div>

</body>
</html>
